{% extends "projects/base.html" %}
{% block title %} Assign Role {% endblock title %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <label for="user_id">Select User:</label>
    <select name="user_id" id="">
        {% for user in users %}
            <option value="{{ user.id }}">{{ user.username }}</option>
        {% endfor %}
    </select>

    <label for="role_id">Select Role:</label>
    <select name="role_id" id="">
        {% for role in roles %}
            <option value="{{ role.id }}">{{ role.name }}</option>
        {% endfor %}
    </select>

    <button type="submit">Assign Role</button>
</form>
{% endblock content%}

