<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Document{% endblock title %}</title>
    {% load static %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <nav>
        <ul>
            <li>
                <a href="{% url 'projects:index' %}">Home</a>
            </li>
        </ul>
        <ul>
            {% if user.is_authenticated %}
            <li>
                <span>Hello, {{user.username}}.</span>
            </li>
            <li>
                <button>
                    <a href="{% url 'projects:dashboard' %}">Go to Dashboard</a>
                </button>
            </li>
            <li>
                <form id="logout-form" method="post" action="{% url 'Users:logout' %}">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
            </li>
            <div id="notification-icon" class="notification">
                🔔 <span id="notif-count">0</span>
            </div>

            <div id="notification-list" class="hidden">
                <ul id="notif-items"></ul>
            </div>
            {% else %}
            <li>
                <a href="{% url 'Users:register' %}">Register</a>
            </li>
            <li>
                <a href="{% url 'Users:login' %}">Login</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    <main>
        <div>
            {% block page_header %}{% endblock page_header %}
        </div>
        <div>
            {% block content %}{% endblock content %}
        </div>
    </main>


    <script src="{% static 'js/scripts.js' %}"></script>
    <script src="{% static 'js/kanban.js' %}" defer></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

</body>

</html>