{% extends 'projects/base.html' %}
{% block title %}
Create Project and Task
{% endblock title %}

{% block content %}
    <h1>Create a Project and its First Task</h1>
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <form method="post">
        {% csrf_token %}

        <fieldset>
            <legend>Project Details</legend>
            {{ project_form.as_p }}
            <div>
                <label for="{{ project_form.add_tasks.id_for_label }}">Add tasks?</label>
                {{ project_form.add_tasks }}
            </div>
        </fieldset>

        {% if task_form %}
        <fieldset>
            <legend>Task Details</legend>
            {{ task_form.as_p }}
        </fieldset>
        {% endif %}
        <button type="submit" name="save_task">Save</button>
        <button type="submit" name="save_add_another">Save and Add Another</button>
    </form>
<!--     
    <h2>Create Project and Tasks</h2>
<form method="post">
    {% csrf_token %}
    {{ project_form.as_p }}
    {% if task_form %}
    <h3>Add Task</h3>
    {{ task_form.as_p }}
    <button type="submit" name="save_add_another">Save and Add Another Task</button>
    {% endif %}
    <button type="submit">Save</button>
</form> -->
{% endblock content %}