{% extends 'projects/base.html' %}
{% block title %}
<title>Create Project and Task</title>
{% endblock title %}

{% block content %}
    <h1>Create a Project and its First Task</h1>
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <form method="post">
        {% csrf_token %}

        <fieldset>
            <legend>Project Details</legend>
            {{ project_form.as_p }}
            <div>
                <label for="{{ project_form.add_tasks.id_for_label }}">Add tasks?</label>
                {{ project_form.add_tasks }}
            </div>
        </fieldset>

        {% if task_form %}
        <fieldset>
            <legend>Task Details</legend>
            {{ task_form.as_p }}
        </fieldset>
        {% endif %}
        <button type="submit">Submit</button>
    </form>
{% endblock content %}