{% extends "projects/base.html" %}
{% block title %} Dashboard {% endblock title %}


{% load custom_filters %}

{% block content %}
<div class="container">
    <h2>Dashboard</h2>
    <p>Welcome, {{ user.username }}!</p>
    
    <h3>Your Projects</h3>
    <a href="{% url 'projects:create_project_and_tasks' %}">Create a new project and tasks</a><br>
    <a href="{% url 'tasks:kanban-board' %}">Manage Tasks</a>
    <ul>
        {% for project in user_projects %}
            <li>
                <strong>{{ project.name }}</strong> - Progress: {{ project_progress|get_item:project.id|floatformat:2 }}%
                <a href="{% url 'projects:assign_role' project.id %}">Manage</a>
            </li>
        {% empty %}
            <li>No projects found.</li>
        {% endfor %}
    </ul>

    <h3>Overdue Tasks</h3>
    <ul>
        {% for task in overdue_tasks %}
            <li>{{ task.title }} (Due: {{ task.due_date }})</li>
            <a href="{% url 'tasks:edit_task' task_id=task.id %}" class="btn btn-sm btn-primary">Edit</a>
        {% empty %}
            <li>No overdue tasks.</li>
        {% endfor %}
    </ul>

    <h3>Upcoming Tasks</h3>
    <ul>
        {% for task in upcoming_tasks %}
            <li>{{ task.title }} (Due: {{ task.due_date }})</li>
            <a href="{% url 'tasks:edit_task' task_id=task.id %}" class="btn btn-sm btn-primary">Edit</a>
        {% empty %}
            <li>No upcoming tasks.</li>
        {% endfor %}
    </ul>

    <h3>Tasks by Priority</h3>

    <h4>High Priority</h4>
    <ul>
        {% for task in high_priority_tasks %}
            <li>{{ task.title }}</li>
            <a href="{% url 'tasks:edit_task' task_id=task.id %}" class="btn btn-sm btn-primary">Edit</a>
        {% empty %}
            <li>No high-priority tasks.</li>
        {% endfor %}
    </ul>

    <h4>Medium Priority</h4>
    <ul>
        {% for task in medium_priority_tasks %}
            <li>{{ task.title }}</li>
            <a href="{% url 'tasks:edit_task' task_id=task.id %}" class="btn btn-sm btn-primary">Edit</a>
        {% empty %}
            <li>No medium-priority tasks.</li>
        {% endfor %}
    </ul>

    <h4>Low Priority</h4>
    <ul>
        {% for task in low_priority_tasks %}
            <li>{{ task.title }}</li>
            <a href="{% url 'tasks:edit_task' task_id=task.id %}" class="btn btn-sm btn-primary">Edit</a>
        {% empty %}
            <li>No low-priority tasks.</li>
        {% endfor %}
    </ul>

</div>
{% endblock %}
